*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: grid;
    place-content: center;
    background: linear-gradient( 45deg, rgb(255, 0, 43) , rgb(255, 153, 0));
    width: 100vw;
    min-height: 100vh;
    position: relative;
}
.card{
    width: 27rem;
    max-width: 470px;
    border-radius: .5rem;
    background: linear-gradient(135deg, #00feba, #5b548a);
    padding: 1rem 1rem;
    text-align: center;
}
.card .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 3rem;
    margin: auto;
    background: rgba(0,0,0,0.5);
    border-radius: 2rem;
    padding: .3rem .8rem;
    transition: .5s all ease;
}
.card .search:hover{
    border: 2px solid #b600fe;
}
.search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}
.search button{
    background: transparent;
    border: none;
    outline: none;
}
.search button i{
    font-size: 2rem;
    padding: .3rem .1rem;
    cursor: pointer;
    color: #fff;
}
.search button i:active{
    color: #00f6fe;
    transform: scale(.96);
}
.card .weather{
    margin-top: 2rem;
    position: relative;
}
.weather .weatherIcon{
    width: 10rem;
    height: 9rem;
}
.weather .weathername{
    position: absolute;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    top: 6rem;
    right: 3rem;
}
.citydetails{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.weather .temp{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.weather .city{
    font-size: 1.8rem;
    font-weight: 600;
    color: #eee;
}
.details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 0 1.5rem;
}
.col{
    display: flex;
    align-items: center;
}
.col img{
    width: 2.5rem;
}
.col>div{
    margin-left: .7rem;
}
.humidity, .wind{
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}
.col p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 500;
    color: #dad4d4;
    margin-top: .3rem;
}
.weather{
    display: none;
}
.error p{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: red;
  display: none;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background: #000;
    color: #fff;
}
.footer h3{
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.footer h3 a{
    text-decoration: none;
    color: red;
}

/*------------------ Responsiveness------------------ */

@media (max-width: 650px){
    .footer h3{
        font-size: 1.2rem;
        font-weight: 500;
    }
}
@media (max-width: 500px){
    .footer h3{
        font-size: 1rem;
        letter-spacing: normal;
    }
}

@media (max-width: 460px){
    .card{
        width: 21rem;
    }
}